<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <header><h1><%= title %></h1></header>
    <h2><%= title %></h2>
    <form method="post" action="/admin/create">
      <ul>
        <li><label>User ID:</label><input type="text" name="user_id" placeholder="Enter User ID"></li>
        <li><label>Password *:</label><input type="password" name="password" placeholder="Enter Password"></li>
        <li>* The password must be at least 4 characters long.</li>
        <li><input type="submit" value="Sign up"></li>
      </ul>
    </form>
  </body>
</html>
