<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'>
    <script src='/js/jquery-1.8.0.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/client.js'></script>
    <script>
      $(function () {
        var container = document.getElementById('canvas');
        init(container);
        draw(container);
      });
    </script>
  </head>
  <body>
    <h1>Hi, <%= item.user_id %>. You can paint and share this canvas.</h1>
    <canvas id="canvas"></canvas>
    <button type="button" onclick="clearCanvas('canvas')">Reset</button>
    <p><a href="/">Logout</a></p>
  </body>
</html>
