<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post" action="/">
      <fieldset>
        <p><label>User ID</label><input type="text" name="user_id"></p>
        <p><label>Password</label><input type="password" name="password"></p>
        <input type="submit" value="Login">
      </fieldset>
    </form>
    <p><a href="/newUser">Sign up</a></p>
    <ul>
      <li><a href="/presentationTest">Show presentation DEMO</a></li>
      <li><a href="/statistics">Show statistics DEMO</a></li>
    </ul>
  </body>
</html>
