<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <h1> <%= user_id %></h1>
    <div id="presentationlist">
      <% if(presentations.length){ %>
      <ul>
        <% presentations.forEach(function(presentation){ %>
        <li><a href="#"><%= presentation.presentation_id %></a></li>
        <% }) %>
      </ul>
      <% } %>
    </div>
    <p><a href="/">Logout</a></p>
    <a href="/newPresentation">create presentation</a>
  </body>
</html>
