<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <h1> <%= user_id %></h1>
    <div id="presentationlist">
      <ul>
        <li><a href="/presentationTest">Presentation DEMO</a></li>
        <li><a href="/statistics">Statistics DEMO</a></li>
      </ul>
      <% if(presentations.length){ %>
      <ul>
        <% presentations.forEach(function(presentation){ %>
        <li><a href="#"><%= presentation.presentation_id %></a></li>
        <% }) %>
      </ul>
      <% } %>
    </div>
    <p><a href="/logout">Logout</a></p>
    <a href="/presentation/new">create presentation</a>
  </body>
</html>
