<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'>
    <script src='/js/graph.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/statistics.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <canvas id="canvas"></canvas>
  </body>
</html>
