html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, section, article {
  border: 0 none;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  padding: 50px 0;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  width: 870px;
  margin: 0 auto;
}

a {
  color: #4986e7;
}

a:hover {
  opacity: .8;
}

header {
  background: #f5f5f5;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header.header-admin {
  background: #444;
}

header .header-wrapper {
  width: 870px;
  height: 30px;
  margin: 0 auto;
  padding: 5px 0;
}

header h1 {
  font-size: 24px;
  float: left;
}

header h1 a {
  color: #aaa;
  text-decoration: none;
}

header .header-right {
  height: 100%;
  float: right;
}

header .header-right a {
  color: #444;
  line-height: 30px;
}

p.button a {
  background: #4986e7;
  border: none;
  color: #fff;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  text-decoration: none;
  float: left;
}

p.logout a {
  font-size: 14px;
  float: right;
}

/**
 * Editor
 */
.editor-left-block {
  position: relative;
  width: 270px;
  float: left;
}

#editor {
  margin-left: 280px;
}

.back-page {
  font-size: 14px;
  line-height: 1em;
}

.presentation-id {
  font-size: 14px;
  line-height: 1em;
  width: 200px;
  margin: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.button.show {
  position: absolute;
  right: 0;
  top:0;
}

#change {
  position: absolute;
  top: 0;
  right: -600px;
  z-index: 1001;
  background: #eee;
  color: #777;
  opacity: .5;
  width: 60px;
  padding: 5px;
}

#change.error {
  background: #e04a28;
  color: #fff;
}

/**
 * Preview
 */
#preview {
  width: 900px;
  overflow: auto;
  color: #333;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  line-height: 1.5em;
}

#preview {
  -moz-transform: scale(0.3);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(0.3);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(0.3);
  -o-transform-origin: 0 0;
  -ms-transform: scale(0.3);
  -ms-transform-origin: 0 0;
  transform: scale(0.3);
  transform-origin: 0 0;
}

#preview > #contents > section {
  width: 840px;
  height: 540px;
  padding: 30px;
  background: #fff;
  border-bottom: 5px solid #ccc;
}
