/* global */
html,
body {
  -webkit-text-size-adjust: none;
  width: auto;
  padding: 25px 5px;
}

header .header-wrapper {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

header .header-right {
  position: absolute;
  right: 10px;
}
