/* Buttons */
#buttons-left {
  position: absolute;
  left: 18px;
  bottom: 10px;
  z-index: 1002;
}
#buttons-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1002;
}

button {
  border: 0 none;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
  cursor: pointer;
  opacity: .8;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

button:hover {
  opacity: .6;
}

button.user {
  background: url(../img/user.png) no-repeat;
}

button.sync {
  background: url(../img/sync.png) no-repeat;
}

button.good {
  background: url(../img/good.png) no-repeat;
}

button.bad {
  background: url(../img/bad.png) no-repeat;
}

#page-index {
  font-family: Arial;
  font-size: 18px;
  position: absolute;
  bottom: 16px;
  left: 98px;
  z-index: 1002;
}
