html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, section, article {
  border: 0 none;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html, body{
  width: 100%;
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  font-size: 24px;
  background: #cccccc;
  color: #333333;
  font-family: 'ヒラギノ角ゴ Pro W6', "ＭＳ ゴシック", sans-serif;
  overflow: hidden;
}

#container{
  width: 900px;
  height: 600px;
  overflow: hidden;
}
#container > #contents > article{
  position: absolute;
  width: 860px;
  height: 560px;
  padding: 20px;
  background: #ffffff;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  display: none;
}


#container > #contents > article.move_from_right{
  display: block;
  -webkit-animation-name: move_from_right;
  -webkit-animation-duration: 1s;
  -webkit-transform: translate(0px, 0px);
  opacity: 1;
}
#container > #contents > article.move_to_left{
  display: block;
  -webkit-animation-name: move_to_left;
  -webkit-animation-duration: 1s;
  -webkit-transform: translate(-900px, 0px);
  opacity: 0;
}
#container > #contents > article.move_from_left{
  display: block;
  -webkit-animation-name: move_from_left;
  -webkit-animation-duration: 1s;
  -webkit-transform: translate(0px, 0px);
  opacity: 1;
}
#container > #contents > article.move_to_right{
  display: block;
  -webkit-animation-name: move_to_right;
  -webkit-animation-duration: 1s;
  -webkit-transform: translate(900px, 0px);
  opacity: 0;
}
@-webkit-keyframes move_from_right{
from{
  opacity: 0;
  -webkit-transform: translate(900px, 0px);
}
to{
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
}
}
@-webkit-keyframes move_to_left{
from{
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
}
to{
  opacity: 0;
  -webkit-transform: translate(-900px, 0px);
}
}
@-webkit-keyframes move_from_left{
from{
  opacity: 0;
  -webkit-transform: translate(-900px, 0px);
}
to{
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
}
}
@-webkit-keyframes move_to_right{
from{
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
}
to{
  opacity: 0;
  -webkit-transform: translate(900px, 0px);
}
}

#container > #contents > article .wrapper{

}
#container > #contents > article .wrapper h1{
  font-size: 32px;
  font-weight: bold;
  color: #0046ba;
}
#container > #contents > article .wrapper h2{
  color: #000000;
}
#container > #contents > article .wrapper > section{
  margin: 20px;
}
#container > #contents > article .wrapper > section > *{
  margin: 20px 0px;
}
#container > #contents > article .wrapper > section pre{
  padding: 10px;
  font-size: 18px;
  line-height: 140%;
  border: 2px solid #ffefb0;
  background: #fff9e2;
  -webkit-border-radius: 10px;
}
#container > #contents > article .wrapper > section pre: hover{
  /*background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));*/
  background: #eeeeee;
}#container > #contents > article .wrapper > section h2{
  font-weight: bold;
}

#container > #contents > article .wrapper > section ul{
  list-style-type: none;
}
#container > #contents > article .wrapper > section ul p{
  font-size: 20px;
  margin: 10px;
}
#container > #contents > article .wrapper > section ul.list{
  list-style-type: disc;
  margin-left: 20px;
}
#container > #contents > article .wrapper > section ul.list li{
  margin: 20px;
}
#container > #contents > article .wrapper > section figure{
  position: relative;
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #666666;
  background-color: #ffffff;
}
#container > #contents > article .wrapper > section p.slide{
  position: relative;
}
#container > #contents > article .wrapper > section p.slide img{
  top: 0px;
  left: 0px;
  position: absolute;
}
#container > #contents > article .wrapper > section p.slide img: first-child{
  position: relative;
}


#container > #contents > article .title{
  text-align: center;
}
#container > #contents > article .title h1{
  margin-top: 200px;
  font-size: 48px;
}
#container > #contents > article .title h2{
  font-size: 32px;
}


#console{
  width: 100%;
  height: 200px;
  position: absolute;
  top: 100%;
  left: 0px;
  overflow: hidden;
  margin-top: -200px;
  background-color: #ffffff;
  -webkit-box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.4);
}
#console .header{
  width: 100%;
  height: 20px;
  padding: 5px;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  color: #666666;
  font-size: 14px;
}


.table{
  width: auto;
  height: auto;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  font-size: 16px;
}
.table h3{
  width: auto;
  text-align: center;
  background-color: #666666;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  color: #ffffff;
}
.table dl{
  display: table-row;
}
.table dl dt, .table dl dd{
  width: 100%;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  display: table-cell;
  padding: 5px;
  background-color: #ffffff;
}
.box div{
  border: 2px solid #666666;
  background-color: #CCCCCC;
  margin: 5px;
  padding: 10px;
}
/*
.table dl dt, .table dl dd{
  float: left;
  margin: 5px;
}
.table dl: after{
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
*/

/* Options */
#options {
  position: absolute;
  z-index: 1001;
}

/* Buttons */
#buttons {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1002;
}

#buttons button {
  border: 0 none;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
  cursor: pointer;
  opacity: .8;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#buttons button:hover {
  opacity: .6;
}

#buttons button.sync {
  background: url(../img/sync.png) no-repeat;
}

#buttons button.good {
  background: url(../img/good.png) no-repeat;
}

#buttons button.bad {
  background: url(../img/bad.png) no-repeat;
}
