body {
  padding: 20px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  margin: 10px 0;
}

/**
 * Editor
 */
#editor {
  /* width: 800px; */
  /* height: 500px; */
}

button#change {
  position: absolute;
  bottom: 10px;
  background: #e04a28;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin: 0 0 20px 0;
  padding: 8px 10px;
  border-radius: 3px;
}

button#change:hover {
  opacity: .8;
}

button#change.disabled {
  background: #ccc;
}
