html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, section, article {
  border: 0 none;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  width: 100%;
  height: 100%;
}

body {
  padding: 50px 0;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  width: 870px;
  margin: 0 auto;
}

a {
  color: #4986e7;
}

a:hover {
  opacity: .8;
}

header {
  background: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header h1 {
  width: 870px;
  margin: 0 auto;
  padding: 5px 0;
  color: #fff;
  font-size: 24px;
}

h2 {
  font-size: 20px;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ccc;
}

form {
  padding: 10px 0;
  clear: both;
  line-height: 2em;
}

form ul {
  list-style: none;
}

input {
  display: block;
  background: #fff;
  border: 1px solid #bababa;
  font-size: 13px;
  margin: 0 0 10px 0;
  padding: 6px;
  border-radius: 3px;
}

input[type="submit"] {
  background: #e04a28;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 3px;
}

input[type="submit"].blue {
  background: #4986e7;
}

input[type="submit"]:hover {
  opacity: .8;
}

p.button a {
  background: #4986e7;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 3px;
  text-decoration: none;
  float: left;
}

p.logout a {
  font-size: 14px;
  position: relative;
  float: right;
}

/* Table */
table {
  border-spacing: 0;
  width: 100%;
  padding: 30px 0;
  font-size: 14px;
}

table td, table th {
  padding: 10px;
}

table td {
  padding: 0 10px;
}

table tbody tr:nth-child(even) {
  background: #f5f5f5;
}

table tbody tr:last-child td {
  border-bottom: 1px solid #ccc;
}

table th {
  text-align: left;
  border-bottom: 1px solid #ccc;
}

table th:first-child {
  border-radius: 6px 0 0 0;
}

table th:last-child {
  border-radius: 0 6px 0 0;
}

table th:only-child{
  border-radius: 6px 6px 0 0;
}

table form {
  padding: 0;
}

table td p.button {
  position: relative;
  top: 11px;
  margin: 0 0 0 0;
}

table td input[type="submit"] {
  margin: 10px 0;
}

/**
 * Editor
 */
#editor {
  margin: 20px 0;
}

button#change {
  background: #e04a28;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin: 0 0 0 20px;
  padding: 8px 10px;
  border-radius: 3px;
}

button#change:hover {
  opacity: .8;
}

button#change.disabled {
  background: #ccc;
}

button#change.saved {
  background: #05c65f;
}

/**
 * Statistics
 */
#user-count {
  position: relative;
  top: 7px;
  left: 20px;
}
