body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  margin: 10px 0;
}

/* #canvas { */
/*   border: 1px solid #444; */
/*   display: block; */
/*   position: absolute; */
/*   left: 120px; */
/*   top: 130px; */
/* } */
