<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <header><h1><%= title %></h1></header>
    <h2><%= title %></h2>
    <form method="post" action="/user/create">
      <p><label>User ID</label><input type="text" name="user_id"></p>
      <p><label>Password</label><input type="password" name="password"></p>
      <p>The password must be at least 4 characters long.</p>
      <input type="submit" value="Sign up">
    </form>
  </body>
</html>
