<!DOCTYPE html>
<html lang="ja">
  <% include ../head %>
  <body>
    <% include ../header %>
    <h2><%= title %></h2>
    <form method="post" action="/presentation/create">
      <ul>
        <li><label>Presentation ID:</label><input type="text" name="presentation_id"  placeholder="Enter Presentation ID"></li>
        <li><input type="submit" value="Create the presentation"></li>
      </ul>
    </form>
  </body>
</html>
