<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/mobile.css' media='screen and (max-width: 880px) and (min-width:5px)'>
  </head>
  <body>
    <header><h1><%= title %></h1></header>
    <h2><%= title %></h2>
    <form method="post" action="/presentation/create">
      <ul>
        <li><label>Presentation ID:</label><input type="text" name="presentation_id"  placeholder="Enter Presentation ID"></li>
        <li><input type="submit" value="Create the presentation"></li>
      </ul>
    </form>
  </body>
</html>
