/* Contents */
#container > #contents > article .wrapper h1 {
  font-size: 32px;
  font-weight: bold;
  border-left: 8px solid #e65138;
  padding: 0 0 0 .5em;
  margin: 0 0 0 10px;
}

#container > #contents > article .wrapper h2 {
  color: #000;
}

#container > #contents > article .wrapper strong {
  font-size: 30px;
  font-weight: bold;
  color: #e65138;
}

#container > #contents > article .wrapper > section {
  margin: 20px;
}

#container > #contents > article .wrapper > section > * {
  margin: 20px 0px;
}

#container > #contents > article .wrapper > section pre {
  padding: 10px;
  font-size: 18px;
  font-family: Consolas, "Liberatn Mono", Courier, monospace;
  line-height: 140%;
  border: 2px solid #ffefb0;
  background: #fff9e2;
  -webkit-border-radius: 10px;
}

#container > #contents > article .wrapper > section pre: hover {
  background: #eee;
}

#container > #contents > article .wrapper > section h2 {
  font-weight: bold;
}

#container > #contents > article .wrapper > section ul {
  list-style-type: none;
}

#container > #contents > article .wrapper > section ul p {
  font-size: 20px;
  margin: 10px;
}

#container > #contents > article .wrapper > section ul.list {
  list-style-type: disc;
  margin-left: 20px;
}

#container > #contents > article .wrapper > section ul.list li {
  margin: 20px;
}

#container > #contents > article .wrapper > section figure {
  position: relative;
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #666;
  background-color: #fff;
}

#container > #contents > article .wrapper > section p.slide {
  position: relative;
}

#container > #contents > article .wrapper > section p.slide img {
  top: 0px;
  left: 0px;
  position: absolute;
}

#container > #contents > article .wrapper > section p.slide img: first-child {
  position: relative;
}

#container > #contents > article .wrapper > section .bluebox {
  border: 3px solid #599eff;
  border-radius: 10px;
  padding: 5px 25px;
  width: 80px;
}

#container > #contents > article .title {
  text-align: center;
}

#container > #contents > article .title h1 {
  margin-top: 200px;
  font-size: 48px;
  border-left: 0;
  padding: 0;
}

#container > #contents > article .title h2 {
  font-size: 32px;
}

#container > #contents > article .subtitle h1 {
  font-size: 32px;
  border-left: 8px solid #599eff;
  padding: 0 0 0 .5em;
  margin: 220px 0 0 50px;
}

/* Console */
#console {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 100%;
  left: 0px;
  overflow: hidden;
  margin-top: -200px;
  background-color: #fff;
  -webkit-box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.4);
}

#console .header {
  width: 100%;
  height: 20px;
  padding: 5px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background: -webkit-linear-gradient(top, #eee, #ccc);
  color: #666666;
  font-size: 14px;
}

/* Table */
.table {
  width: auto;
  height: auto;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  font-size: 16px;
}

.table h3 {
  width: auto;
  text-align: center;
  background-color: #666;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #fff;
}

.table dl {
  display: table-row;
}

.table dl dt, .table dl dd {
  width: 100%;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  display: table-cell;
  padding: 5px;
  background-color: #fff;
}

.box div {
  border: 2px solid #666;
  background-color: #ccc;
  margin: 5px;
  padding: 10px;
}
