/* Contents */
#contents > section > h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 220px 0 10px;
  border-left: 0;
  padding: 0;
}

#contents > section > h1 + p {
  text-align: center;
}

#contents > section > h2 {
  font-size: 32px;
  font-weight: bold;
  border-left: 8px solid #599eff;
  padding: 0 0 0 .5em;
  margin: 240px 0 20px 50px;
}

#contents > section > h2 + p {
  margin-left: 50px;
}

#contents > section > h3 {
  font-size: 32px;
  font-weight: bold;
  border-left: 8px solid #e65138;
  padding: 0 0 0 .5em;
  margin: 0 0 20px 10px;
}

#contents > section > h4 {
  display: inline-block;
  border: 2px solid #599eff;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px 10px 0;
}

#contents > section > h3 + h4 {
  margin-top: 0;
}

#contents > section p {
  margin: 10px 0;
}

#contents > section strong {
  font-weight: bold;
  color: #e65138;
}

#contents > section pre {
  margin: 10px 0;
  padding: 0 10px 20px;
  font-size: 18px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  line-height: 1.4;
  border: 1px solid #ccc;
  background: #f8f8f8;
  -webkit-border-radius: 10px;
}

#contents > section > ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 10px 0 10px 20px;
}

#contents > section > ul ul {
  list-style-type: circle;
  margin-left: 1em;
}

#contents > section > ul > li {
  margin-top: .5em;
}

#contents > section > ul p {
  font-size: 20px;
  margin: 10px;
}

#contents > section > figure {
  position: relative;
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #666;
  background-color: #fff;
}
